<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="../static/hack.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">


</head>
<body>
<h2> Welcome to Smith College TA Page.</h2>
<div id="command">
Please select your class.
</div>
<div id = "formSetting">
<form>
  
  <select onChange = "window.location.href=this.value" id="soflow">
  	<option>Please select</option>
    <option value = "111">CSC111</option>
    <option value = "212">CSC212</option>
    <option value = "231">CSC231</option>
    <option value = "250">CSC250</option>
    <option value = "noTAs">SDS235</option>
    <option value = "noTAs">SDS192</option>
    <option value = "alternateTAs">MTH212</option>
    <option value = "alternateTAs">MTH153</option>

  </select>
  



</form>
</div>
</body>
</html>