<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="../static/hack.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">


</head>
<body>
<div id="pageError">
Sorry! There are no TA hours for this course. <br>
Please go to the Math Forum at Burton for help. 
</div>
<div id="goHome">
<a href = "https://www.smith.edu/qlc/tutoring.html"> Alternate Tutoring Hours </a>
<br>
<a href = "homeMenu">Return home</a>
</div>
</body>
</html>